# Development
# =============================

*.sublime-project
*.sublime-workspace
*.sublime-theme
*@test.*
node_modules/
temp/
dist/zpatches/multi


# OS
# =============================

.DS_Store
