# Development
# =============================

*.sublime-project
*.sublime-workspace
*.sublime-theme
*.log
*cache
*.pyc

node_modules/

package-lock.json

# OS
# =============================

.DS_Store
