# Development
# =============================

*.sublime-project
*.sublime-workspace
*@test.*
!test/*

node_modules/
temp/

dist/zpatches/multi
dist/zpatches/*.sublime-theme


# OS
# =============================

.DS_Store
