<div id="afi-changelog">
<style>
  #afi-changelog {
    --highlight: color(var(--background) blend(var(--foreground) 90%));
    --heading: color(var(--background) blend(var(--foreground) 65%));

    font-family: Roboto, "Fira Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    padding: 1rem 2.5rem 2.5rem;
    background-color: var(--background);
  }

  #afi-changelog h1,
  #afi-changelog h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    color: var(--heading);
  }

  #afi-changelog h1 a,
  #afi-changelog h2 a {
    color: var(--orangish);
  }

  #afi-changelog h3 {
    color: var(--greenish);
    margin-top: 0;
    margin-bottom: 1rem;
  }

  #afi-changelog ul {
    margin-bottom: 1.5rem;
  }

  #afi-changelog li {
    margin-bottom: 1rem;
  }

  #afi-changelog code {
    background-color: var(--highlight);
    padding: 0.3rem;
  }
</style>
<%= contents %>
</div>
